body {
  background-image: url("background.jpeg");
  background-size: cover;
}

.flexbox-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.button {
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  padding: 8px;
  margin: 2px;
  border-radius: 25%;
}

.inputBox {
  backdrop-filter: blur(100px);
  border: 3px solid rebeccapurple;
  margin: 10px;
  padding: 2px;
  width: fit-content;
  height: fit-content;
  display: inline-block;
}

.requestBox {
  backdrop-filter: blur(1000px);
  border: 3px solid rebeccapurple;
  margin: 10px;
  padding: 4px;
  width: fit-content;
  height: fit-content;
  display: inline-block;
}

.choiceBox {
  backdrop-filter: blur(50px);
  border: 3px solid rebeccapurple;
  margin: 10px;
  width: fit-content;
  height: fit-content;
  padding: 5px;
}

.resultBox {
  backdrop-filter: blur(1000px);
  border: 3px solid rebeccapurple;
  margin: 10px;
  padding: 4px;
  width: fit-content;
  height: fit-content;
}

.checkLabel {
  color: yellow;
}

h2 {
  color: #e6b703;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 30px;
  margin: 0 0 24px;
  padding: 4px;
}

.result {
  color: #e6b703;
}

p {
  color: #e6b703;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 14px;
  margin: 0 0 24px;
  text-align: justify;
  text-justify: inter-word;
}

.authors {
  backdrop-filter: url(commonfilters.svg#filter);
  backdrop-filter: sepia(50%);
  position: absolute;
  bottom: 20px;
  left: 10px;
  border: 10px ridge #ccccff;
}

.authors h1 {
  color: #f87171;
}

.project {
  backdrop-filter: url(commonfilters.svg#filter);
  backdrop-filter: sepia(70%);
  position: absolute;
  bottom: 20px;
  right: 20px;
  border: 10px ridge #ccccff;
}

.project h2 {
  color: #f87171;
}

.project h4 {
  color: #6b21a8;
}
